@import "bulma.css";

html {
	padding: 0;
}

html,
body {
	margin: 0;
}

body {
	padding: var(--bulma-size-medium);

	@media screen and (min-width: 71ch) {
		margin: 0 auto;
		max-width: 70ch;
	}
}

body > header {
	margin-block-end: var(--bulma-size-medium);
}

body > footer {
	margin-block-start: var(--bulma-size-medium);
	font-size: var(--bulma-small-font-size);
}

.blog-posts {
	list-style: disc;
	ul {
		list-style: disc;
		margin-inline-start: var(--bulma-size-medium);
	}
}

.content {
	h2 {
		font-size: 1.5em;
	}

	iframe {
		display: block;
		margin-block-end: var(--bulma-content-block-margin-bottom);
	}

	p {
		hyphens: auto;
	}

	picture {
		text-align: center;
		display: block;
		margin-block-end: var(--bulma-content-block-margin-bottom);
	}
}

.image {
	margin-block-end: var(--bulma-content-block-margin-bottom);
	text-align: center;

	img {
		margin: 0 auto;
		max-width: 50%;
		width: auto;
	}

	figcaption {
		font-style: italic;
	}

	picture {
		margin-block-end: var(--bulma-size-small);
	}
}

.meta {
	display: flex;
	gap: var(--bulma-size-small);
	font-size: var(--bulma-small-font-size);
	margin-block-end: var(--bulma-size-medium);
}

.projects.projects,
.talks.talks {
	dt {
		margin-block-end: var(--bulma-size-small);
	}
	dd {
		margin-inline-start: var(--bulma-size-medium);
		margin-block-end: var(--bulma-size-large);
	}
	.content {
		margin-block-end: var(--bulma-size-small);
	}
}
